.s-cover {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container-video {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.image-cover {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    border-radius: 4px;
    object-fit: cover;
    width: 70%;
    height: 600px;
  }
}

.container-detail {
  margin-top: 20px;
  h3 {
    margin-top: 10px;
  }

  p {
    display: flex;
    justify-content: flex-end;
    &:last-child {
      margin-top: 50px;
    }
  }
}

.container-actions {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1400px) {
  .container-video {
    width: 100%;
    margin: 0;
  }

  .image-cover {
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 400px;
    }
  }
}
